/weather.xcodeproj/project.xcworkspace/xcuserdata
/weather.xcodeproj/xcuserdata/aleksejganzickij.xcuserdatad/xcdebugger
/weather.xcodeproj/xcuserdata/aleksejganzickij.xcuserdatad/xcschemes/xcschememanagement.plist
/weather.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
